random-id true
export-table 254

default type tunnel link-quality true split-horizon false
default rxcost 32 hello-interval 20 max-rtt-penalty 1024 rtt-max 1024

interface host rxcost 1 hello-interval 4

{% for i in IFList %}interface {{ i }}
{% endfor %}
redistribute local deny
