[Unit]
Description=rait
After=network.target

[Service]
ExecStart=/usr/local/bin/rait up -c /etc/rait/rait.conf -d /etc/rait/peers -b
ExecStop=/usr/local/bin/rait down -c /etc/rait/rait.conf

[Install]
WantedBy=multi-user.target

