[Unit]
Description=RAIT - Redundant Array of Inexpensive Tunnels
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/rait up
ExecStop=/usr/local/bin/rait down

[Install]
WantedBy=multi-user.target
