[Unit]
Description=rait
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=rait up -p rait -c /root/local.conf -d /root/peers
ExecStop=rait down -p rait

[Install]
WantedBy=multi-user.target
