[Unit]
Description=rait
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=rait up -c /etc/rait/rait.conf -d /etc/rait/peers
ExecStop=rait down -c /etc/rait/rait.conf

[Install]
WantedBy=multi-user.target
